@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Rock+Salt&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* styles/globals.css */
.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif; 
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
